.hello {
   padding: 38px 0 70px 0;
   @media (max-width: $md1) {
      padding: 0 0 70px 0;
   }
   @media (max-width: $md3) {
      padding: 0 0 60px 0;
   }
}
.hello__container {
   display: flex;
   @media (max-width: $md3) {
      text-align: center;
      flex-direction: column-reverse;
   }
}
.hello__content {
   align-items: flex-start;
   padding: 18px 110px 0 0 ;
   flex: 1 1 auto;
   *:last-child {
      margin-bottom: 0;
   }
   @media (max-width: $md1) {
      padding: 18px 50px 0 0 ;
   }
   @media (max-width: $md3) {
      padding: 0px 0 0 0 ;
   }
}
.hello__title {
   margin-bottom: 25px;
   @media (max-width: $md3) {
      margin-bottom: 20px;
   }
}
.hello__text {
   margin-bottom: 35px;
   @media (max-width: $md3) {
      padding-inline: 15px;
      margin-bottom: 25px;
   }
}
.hello__btn {
   margin-bottom: 25px;
   @media (max-width: $md3) {
      margin-bottom: 20px;
   }
}
.hello__avatar {
   flex: 0 0 243px;
   height: 243px;
   position: relative;
   border-radius: 50%;
   width: 243px;
   margin: 0 auto;
   box-shadow: -5px 13px 0 0 #edf7fa;
   @media (max-width: $md3) {
      width: 170px;
      flex: 0 0 170px;
      margin-bottom: 40px;
      height: 170px;
   }
}

// ========================================================================================================

.recent-posts {
   background: #edf7fa;
   padding: 25px 0 13px 0;
   @media (max-width: $md3) {
      padding: 25px 0 23px 0;
   }
}
.recent-posts__container {
}
._container {
}
.recent-posts__header {
   display: flex;
   margin-bottom: 20px;
}
.recent-posts__title {
   padding-right: 20px;
   flex: 1 1 auto;
}
.recent-posts__view-all {
   flex: 0 0 auto;
   font-size: 16px;
   line-height: 23px;
   color: #00a8cc;
   @media (max-width: $md3) {
      display: none;
   }
}
.recent-posts__items {
   margin: 0 -10px;
   @media (min-width: $md3) {
      display: flex;
   }
}
.recent-posts__column {
   flex: 0 1 50%;
   padding: 0 10px;
   margin-bottom: 17px;
}
.recent-posts__item {
}


.recent-post {
   height: 100%;
   background-color: #fff;
   box-shadow: 0 4px 10px rgba(187, 225, 250, 0.25);
   border-radius: 4px;
   padding: 20px;
   @media (min-width: $md3) {
      padding: 15px;
   }
   *:last-child{
      margin-bottom: 0;
   }
}
.recent-post__title {
   display: inline-block;
   margin-bottom: 17px;
   color: inherit;
   font-size: 26px;
   font-weight: 700;
   line-height: 38 / 26 * 100%;
   transition: color 0.3s ease 0s;
   margin: 0 0 17px 0;
   @media (min-width: $md2) {
      &:hover {
         color: #ff6464;
      }
   }
   @media (min-width: $md3) {
      font-size: 22px;
      margin: 0 0 10px 0;
   }
}
.recent-post__info {
   margin-bottom: 15px;
   font-size: 18px;
   line-height: 26 / 18 * 100%;
   span {
      margin: 0 10px;
   }
   @media (min-width: $md3) {
      font-size: 16px;
      margin: 0 0 10px 0;
   }
}
.recent-post__text {
   margin-bottom: 15px;
}

// ========================================================================================================

.featured-works {
   padding: 30px 0 80px 0;
   @media (max-width: $md3) {
      padding: 30px 0 30px 0;
   }
}
.featured-works__container {
   
}
.featured-works__title {
   padding-bottom: 20px;
}


.featured-works__items {
   @media (max-width: $md3) {
      display: flex;
      overflow: auto;
      .works__item {
         @media (max-width: $md3) {
            flex: 0 0 90%;
            margin: 0 15px 0 0;
         }
      }
   }   
}
// ========================================================================================================
